JOIN.json
{
  "name": "JOIN",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\nstaticData.emailCounter ??= {};\nstaticData.emailCounter[today] ??= 0;\nstaticData.emailCounter[today]++;\n\nreturn [\n  {\n    json: {\n      today,\n      count: staticData.emailCounter[today],\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        -16
      ],
      "id": "22de649c-ba82-4142-bc75-b78a53f36f30",
      "name": "Set daily e-mails limit"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4385848114994939172"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        464,
        80
      ],
      "id": "35c49430-0356-4cdf-9e44-826b3fc8b20d",
      "name": "Add label \"Zu bearbeiten\" to message",
      "webhookId": "016af86d-579b-4c4a-83f4-36af788b9ceb",
      "credentials": {
        "gmailOAuth2": {
          "id": "tJQVLmj7sY2V8QWH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        704,
        80
      ],
      "id": "50de4cbd-cd25-493a-bbd7-eb1ba2247628",
      "name": "Remove label \"INBOX\" from message",
      "webhookId": "ce1f5f35-1942-4775-ad97-4afd1fc87333",
      "credentials": {
        "gmailOAuth2": {
          "id": "tJQVLmj7sY2V8QWH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf738c03-a690-43be-b67c-27cd90d252ad",
              "name": "senderEmailOnly",
              "value": "={{ \n  $('Email Trigger (IMAP)').item.json.metadata[\"from\"] \n    ? $('Email Trigger (IMAP)').item.json.metadata[\"from\"].replace(/<|>/g, '') \n    : (\n        $('Email Trigger (IMAP)').item.json.metadata[\"sender\"] \n          ? $('Email Trigger (IMAP)').item.json.metadata[\"sender\"].replace(/<|>/g, '') \n          : (\n              $('Email Trigger (IMAP)').item.json.metadata[\"reply-to\"] \n                ? $('Email Trigger (IMAP)').item.json.metadata[\"reply-to\"].replace(/<|>/g, '') \n                : $('Email Trigger (IMAP)').item.json.metadata[\"return-path\"].replace(/<|>/g, '')\n            )\n      )\n}}\n",
              "type": "string"
            },
            {
              "id": "ddf24e23-45a9-4321-86f0-e2679d79ae41",
              "name": "senderName",
              "value": "={{ $('Email Trigger (IMAP)').item.json.textPlain\n    .replace(/\\r?\\n/g, ' ')\n    .replace(/[^\\x00-\\x7F]/g, ' ')\n    .match(/(?:Kind regards|Best regards|Regards)[,\\s]+([A-Za-z ]+)/i)\n    ?. [1]\n    ?. trim()\n    || '' }}",
              "type": "string"
            },
            {
              "id": "82b60c34-a1e8-4895-83fd-f8e1c3abc170",
              "name": "subject",
              "value": "={{ $('Email Trigger (IMAP)').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "ca6ff120-624f-4bea-a005-73b1d5fa5a6b",
              "name": "body",
              "value": "={{ $('Email Trigger (IMAP)').item.json.textPlain }}",
              "type": "string"
            },
            {
              "id": "95de41ef-75b9-4da0-ab1c-df5718b8e4f1",
              "name": "bodyHTML",
              "value": "={{ $('Email Trigger (IMAP)').item.json.textHtml }}",
              "type": "string"
            },
            {
              "id": "0bf375a4-7f3b-4dd7-a1fa-0a500517026a",
              "name": "date",
              "value": "={{ $('Email Trigger (IMAP)').item.json.metadata.received }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -144
      ],
      "id": "a316a9f9-095c-48e3-80e8-f496d46003c8",
      "name": "Edit Fields - Extract email data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following email and generate a structured JSON object compatible with the JOIN task creation API.\n\nEmail:\nSender: {{ $json.senderEmailOnly }}\nSender Name: {{ $json.senderName }}\nSubject: {{ $json.subject }}\nBody: {{ $json.body }}\n\nYour tasks:\n\n1. Determine the issue category:\n   - \"user story\" → new functionality or user story\n   - \"bug\" → malfunction, error, unexpected behavior\n   - \"technical\" → refactoring, maintenance, internal technical work\n\n2. Generate a short, clear, meaningful title for the ticket.\n\n3. Determine the priority based on keywords:\n   - \"urgent\" → contains words like: urgent, critical, blocked, ASAP, immediately\n   - \"medium\" → normal requests without time pressure\n   - \"low\" → nice-to-have, optional, improvement suggestions\n\n4. Extract a deadline if present in the email.\n   - Format: YYYY-MM-DD\n\n5. IMPORTANT RULE:\n   All tickets MUST have a deadline.\n   If the email does not contain a deadline, infer a reasonable one:\n   - Default: 14 days from today\n   - Format: YYYY-MM-DD\n\n6. Create a full ticket description:\n   - Summarize the email content\n   - Add the note: \"This ticket was AI-generated.\"\n\n7. Determine the creator of the ticket:\n   - Use the extracted sender email: {{ $json.senderEmailOnly }}\n   - Use the extracted sender name: {{ $json.senderName }}\n\n8. Set the ticket status:\n   - Always return \"Triage\" as the initial status.\n\n9. Mark the ticket as AI-generated:\n   - Always return aiGenerated = true.\n\n10. Extract subtasks:\n   - Look for bullet points, lists, requirements, or multiple actions in the email.\n   - Convert each item into a JOIN-compatible subtask object.\n   - Each subtask must have:\n       \"checked\": false,\n       \"task\": \"<short actionable description>\"\n   - If no subtasks are present, infer 1–2 meaningful subtasks based on the email content.\n\nReturn ONLY the following JSON structure:\n\n{\n  \"category\": \"...\",\n  \"title\": \"...\",\n  \"priority\": \"...\",\n  \"deadline\": \"...\",\n  \"description\": \"...\",\n  \"creator\": \"{{ $json.senderEmailOnly }}\",\n  \"creatorName\": \"{{ $json.senderName }}\",\n  \"status\": \"Triage\",\n  \"aiGenerated\": true,\n  \"assignedTo\": \"...\",\n  \"subtasks\": [\n    {\n      \"checked\": false,\n      \"task\": \"...\"\n    },\n    {\n      \"checked\": false,\n      \"task\": \"...\"\n    }\n  ]\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        -288
      ],
      "id": "2077f58f-0052-46bf-af90-9f988d50d27e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        144,
        -112
      ],
      "id": "ae1253a8-ec29-4ee0-afa7-f7a201d8a8c0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qvXuBOfPieplpxIU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1533cbe3-6f7c-4b27-8055-7f24f2c6aeda",
              "leftValue": "={{ $json.category.toLowerCase().trim() }}",
              "rightValue": "user story",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1264,
        -272
      ],
      "id": "d8082a8c-722d-4eab-89b0-badc092baf87",
      "name": "If2 - User story"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "71b15023-298c-4da9-87f2-47b22e10c9ac",
              "leftValue": "={{ $json.category.toLowerCase().trim() }}",
              "rightValue": "bug",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        -288
      ],
      "id": "9bca6f90-7adb-41d8-bb55-ea2a24fb9ba9",
      "name": "If1 - Bug"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b802cf5b-e349-4d6c-9042-ce5da94113b5",
              "leftValue": "={{ $json.category.toLowerCase().trim() }}",
              "rightValue": "technical task",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        -256
      ],
      "id": "442e2d6e-8b28-49ec-8616-14d65dc3804f",
      "name": "If3 - Technical task"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://join-e397a-default-rtdb.europe-west1.firebasedatabase.app/tasks.json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $json.category }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "date",
              "value": "={{ $json.deadline }}"
            },
            {
              "name": "creator",
              "value": "={{ $json.creator }}"
            },
            {
              "name": "creatorName",
              "value": "={{ $json.creatorName }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "aiGenerated",
              "value": "={{ $json.aiGenerated }}"
            },
            {
              "name": "assignedTo",
              "value": "={{ $json.assignedTo }}"
            },
            {
              "name": "subtasks",
              "value": "={{ $json.subtasks }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1440,
        -448
      ],
      "id": "d48af8ca-031a-4db6-bfad-89d9d5b9aa9c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://join-e397a-default-rtdb.europe-west1.firebasedatabase.app/tasks.json",
        "sendBody": true,
        "contentType": "=json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $json.category }}"
            },
            {
              "name": "=title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "date",
              "value": "={{ $json.deadline }}"
            },
            {
              "name": "creator",
              "value": "={{ $json.creator }}"
            },
            {
              "name": "creatorName",
              "value": "={{ $json.creatorName }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "aiGenerated",
              "value": "={{ $json.aiGenerated }}"
            },
            {
              "name": "assignedTo",
              "value": "={{ $json.assignedTo }}"
            },
            {
              "name": "subtasks",
              "value": "={{ $json.subtasks }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1680,
        -448
      ],
      "id": "609e29f7-e098-405c-a77e-2e17983060e2",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"string\",\n  \"title\": \"string\",\n  \"description\": \"string\",\n  \"priority\": \"string\",\n  \"deadline\": \"string\",\n  \"creator\": \"string\",\n  \"creatorName\": \"string\",\n  \"status\": \"string\",\n  \"aiGenerated\": true,\n  \"assignedTo\": \"string\",\n  \"subtasks\": [\n    {\n      \"checked\": \"boolean\",\n      \"task\": \"string\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        416,
        -112
      ],
      "id": "ffb5e045-f5fb-4027-b4d6-94972e1183d8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -960,
        -16
      ],
      "id": "d0ab803d-dde4-445c-b72c-15e92636900c",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "IRQHUDNYg9nzvIgF",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "join.notification@gmail.com",
        "toEmail": "={{ $('Email Trigger (IMAP)').item.json.from.replace(/.*<|>.*/g, '') }}",
        "subject": "Daily limit reached",
        "emailFormat": "text",
        "text": "=Hello,\n\nYou have reached today's limit of 10 feature requests.\nYou can submit new requests again tomorrow.\n\nBest regards,\nYour Join Automation Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -96,
        80
      ],
      "id": "b6c7b746-41ed-4290-9dfd-c6fed28ae014",
      "name": "Send an Email",
      "webhookId": "c7cbc835-f6a3-4758-bbba-e32b97189fb9",
      "credentials": {
        "smtp": {
          "id": "f6OMU30o3YMTv0pv",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "q": "=rfc822msgid:{{ $('Email Trigger (IMAP)').item.json.metadata[\"message-id\"] }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        80
      ],
      "id": "d1011951-3ac4-481e-a644-e5232785ba11",
      "name": "Get e-mail id",
      "webhookId": "688a4699-3cd0-466d-960c-8a7ed303f8b5",
      "credentials": {
        "gmailOAuth2": {
          "id": "tJQVLmj7sY2V8QWH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://join-e397a-default-rtdb.europe-west1.firebasedatabase.app/tasks.json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $json.category }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "date",
              "value": "={{ $json.deadline }}"
            },
            {
              "name": "creator",
              "value": "={{ $json.creator }}"
            },
            {
              "name": "creatorName",
              "value": "={{ $json.creatorName }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "aiGenerated",
              "value": "={{ $json.aiGenerated }}"
            },
            {
              "name": "assignedTo",
              "value": "={{ $json.assignedTo }}"
            },
            {
              "name": "subtasks",
              "value": "={{ $json.subtasks }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        -448
      ],
      "id": "cb7468ca-229a-464e-abe7-0736760b3f90",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2dde531d-4921-48d4-9b5c-8b4ca22e4670",
              "leftValue": "={{ $json.count }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        -16
      ],
      "id": "e9d9b19b-2dca-4410-9875-ab4bf4e4172f",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const contacts = Object.fromEntries(\n  Object.entries($json).filter(([key]) => key !== 'output')\n);\n\nconst rawCategory = $json.output.category.toLowerCase().trim();\nlet normalizedCategory = 'User story';\n\nif (rawCategory.includes('tech')) normalizedCategory = 'Technical task';\nif (rawCategory.includes('bug')) normalizedCategory = 'Bug';\nif (rawCategory.includes('story')) normalizedCategory = 'User story';\n\nconst rawAssigned = $json.output.assignedTo || \"\";\nconst assignedNames = rawAssigned\n  .split(\",\")\n  .map(n => n.trim())\n  .filter(n => n.length > 0);\n\nconst assignedEmails = [];\n\nfor (const key in contacts) {\n  const contact = contacts[key];\n  if (assignedNames.includes(contact.name)) {\n    assignedEmails.push(contact.mail);\n  }\n}\n\nreturn {\n  json: {\n    ...$json.output,\n    category: normalizedCategory,\n    assignedTo: assignedEmails\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -288
      ],
      "id": "2d814aa3-8cad-49e1-965a-3b12265e6177",
      "name": "Normalize category names and assignedTo contacts"
    },
    {
      "parameters": {
        "url": "https://join-e397a-default-rtdb.europe-west1.firebasedatabase.app/contacts.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        -496
      ],
      "id": "18c55f1e-d904-47b6-bc84-4da403d5ef36",
      "name": "HTTP Request - GET Join contacts"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        -288
      ],
      "id": "b7c65628-fbdb-4000-b358-d9ae31b58b28",
      "name": "Merge data from AI agent and GET Node"
    }
  ],
  "pinData": {},
  "connections": {
    "Set daily e-mails limit": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label \"Zu bearbeiten\" to message": {
      "main": [
        [
          {
            "node": "Remove label \"INBOX\" from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Extract email data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge data from AI agent and GET Node",
            "type": "main",
            "index": 1
          },
          {
            "node": "HTTP Request - GET Join contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1 - Bug": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2 - User story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2 - User story": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3 - Technical task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3 - Technical task": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Set daily e-mails limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Get e-mail id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove label \"INBOX\" from message": {
      "main": [
        []
      ]
    },
    "Get e-mail id": {
      "main": [
        [
          {
            "node": "Add label \"Zu bearbeiten\" to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields - Extract email data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Normalize category names and assignedTo contacts": {
      "main": [
        [
          {
            "node": "If1 - Bug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - GET Join contacts": {
      "main": [
        [
          {
            "node": "Merge data from AI agent and GET Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge data from AI agent and GET Node": {
      "main": [
        [
          {
            "node": "Normalize category names and assignedTo contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8c6d3424-5694-4af9-bf3e-dd553174e026",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe409a81daabdb6ca1d5f4e52f3e01e2218bb3b89727d965240d5a05df823d4e"
  },
  "nodeGroups": [],
  "id": "HoszaL2vmVMb5ofz",
  "tags": []
}