n8n/JOIN - Main workflow.json
{
  "name": "JOIN - Main workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\nstaticData.emailCounter ??= {};\nstaticData.emailCounter[today] ??= 0;\nstaticData.emailCounter[today]++;\n\nreturn [\n  {\n    json: {\n      today,\n      count: staticData.emailCounter[today],\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        480
      ],
      "id": "1931dfbd-8cf8-4795-8c9f-078f510faf83",
      "name": "Set daily e-mails limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf738c03-a690-43be-b67c-27cd90d252ad",
              "name": "senderEmailOnly",
              "value": "={{ \n  $('Email Trigger (IMAP)').item.json.metadata[\"from\"] \n    ? $('Email Trigger (IMAP)').item.json.metadata[\"from\"].replace(/<|>/g, '') \n    : (\n        $('Email Trigger (IMAP)').item.json.metadata[\"sender\"] \n          ? $('Email Trigger (IMAP)').item.json.metadata[\"sender\"].replace(/<|>/g, '') \n          : (\n              $('Email Trigger (IMAP)').item.json.metadata[\"reply-to\"] \n                ? $('Email Trigger (IMAP)').item.json.metadata[\"reply-to\"].replace(/<|>/g, '') \n                : $('Email Trigger (IMAP)').item.json.metadata[\"return-path\"].replace(/<|>/g, '')\n            )\n      )\n}}\n",
              "type": "string"
            },
            {
              "id": "ddf24e23-45a9-4321-86f0-e2679d79ae41",
              "name": "senderName",
              "value": "={{ $('Email Trigger (IMAP)').item.json.textPlain\n    .replace(/\\r?\\n/g, ' ')\n    .replace(/[^\\x00-\\x7F]/g, ' ')\n    .match(/(?:Kind regards|Best regards|Regards)[,\\s]+([A-Za-z ]+)/i)\n    ?. [1]\n    ?. trim()\n    || '' }}",
              "type": "string"
            },
            {
              "id": "82b60c34-a1e8-4895-83fd-f8e1c3abc170",
              "name": "subject",
              "value": "={{ $('Email Trigger (IMAP)').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "ca6ff120-624f-4bea-a005-73b1d5fa5a6b",
              "name": "body",
              "value": "={{ $('Email Trigger (IMAP)').item.json.textPlain }}",
              "type": "string"
            },
            {
              "id": "95de41ef-75b9-4da0-ab1c-df5718b8e4f1",
              "name": "bodyHTML",
              "value": "={{ $('Email Trigger (IMAP)').item.json.textHtml }}",
              "type": "string"
            },
            {
              "id": "0bf375a4-7f3b-4dd7-a1fa-0a500517026a",
              "name": "date",
              "value": "={{ $('Email Trigger (IMAP)').item.json.metadata.received }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        352
      ],
      "id": "33575183-6109-4cab-a040-bd6ef4a2da8e",
      "name": "Edit Fields - Extract email data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following email and generate a structured JSON object compatible with the JOIN task creation API.\n\nEmail:\nSender: {{ $json.senderEmailOnly }}\nSender Name: {{ $json.senderName }}\nSubject: {{ $json.subject }}\nBody: {{ $json.body }}\n\nYour tasks:\n\n1. Determine the issue category:\n   - \"user story\" → new functionality or user story\n   - \"bug\" → malfunction, error, unexpected behavior\n   - \"technical\" → refactoring, maintenance, internal technical work\n\n2. Generate a short, clear, meaningful title for the ticket.\n\n3. Determine the priority based on keywords:\n   - \"urgent\" → contains words like: urgent, critical, blocked, ASAP, immediately\n   - \"medium\" → normal requests without time pressure\n   - \"low\" → nice-to-have, optional, improvement suggestions\n\n4. Extract a deadline if present in the email.\n   - Format: YYYY-MM-DD\n\n5. IMPORTANT RULE:\n  Today's date is TODAY = {{ $now.toISODate() }}\n   All tickets MUST have a deadline.\n   If the email does not contain a deadline, infer a reasonable one:\n   - Default: 14 days from today\n   - Format: YYYY-MM-DD\n\n6. Create a full ticket description:\n   - Summarize the email content\n   - Add the note: \"This ticket was AI-generated.\"\n\n7. Determine the creator of the ticket:\n   - Use the extracted sender email: {{ $json.senderEmailOnly }}\n   - Use the extracted sender name: {{ $json.senderName }}\n\n8. Set the ticket status:\n   - Always return \"Triage\" as the initial status.\n\n9. Mark the ticket as AI-generated:\n   - Always return aiGenerated = true.\n\n10. Extract subtasks:\n   - Look for bullet points, lists, requirements, or multiple actions in the email.\n   - Convert each item into a JOIN-compatible subtask object.\n   - Each subtask must have:\n       \"checked\": false,\n       \"task\": \"<short actionable description>\"\n   - If no subtasks are present, infer 1–2 meaningful subtasks based on the email content.\n\nReturn ONLY the following JSON structure:\n\n{\n  \"category\": \"...\",\n  \"title\": \"...\",\n  \"priority\": \"...\",\n  \"deadline\": \"...\",\n  \"description\": \"...\",\n  \"creator\": \"{{ $json.senderEmailOnly }}\",\n  \"creatorName\": \"{{ $json.senderName }}\",\n  \"status\": \"Triage\",\n  \"aiGenerated\": true,\n  \"assignedTo\": \"...\",\n  \"subtasks\": [\n    {\n      \"checked\": false,\n      \"task\": \"...\"\n    },\n    {\n      \"checked\": false,\n      \"task\": \"...\"\n    }\n  ]\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -320,
        208
      ],
      "id": "ef7dee9a-3fe5-4898-b245-98efcad000a2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -384,
        384
      ],
      "id": "043a4bff-487a-425e-a3d5-1df1e69e972e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qBkPcRAB9cTNJIjB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"string\",\n  \"title\": \"string\",\n  \"description\": \"string\",\n  \"priority\": \"string\",\n  \"deadline\": \"string\",\n  \"creator\": \"string\",\n  \"creatorName\": \"string\",\n  \"status\": \"string\",\n  \"aiGenerated\": true,\n  \"assignedTo\": \"string\",\n  \"subtasks\": [\n    {\n      \"checked\": false,\n      \"task\": \"string\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -112,
        384
      ],
      "id": "3f2a1f60-93ad-48fd-b185-086ae0f886ea",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -1920,
        480
      ],
      "id": "4a52ee9a-2347-41f0-8218-58c0282fd240",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "0Si5tHyCP6eB3bV2",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2dde531d-4921-48d4-9b5c-8b4ca22e4670",
              "leftValue": "={{ $json.count }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -992,
        464
      ],
      "id": "9cc92eb0-29c6-457b-bf67-118e5216c092",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const contacts = Object.fromEntries(\n  Object.entries($json).filter(([key]) => key !== 'output')\n);\n\nconst rawCategory = $json.output.category.toLowerCase().trim();\nlet normalizedCategory = 'User story';\n\nif (rawCategory.includes('tech')) normalizedCategory = 'Technical task';\nif (rawCategory.includes('bug')) normalizedCategory = 'Bug';\nif (rawCategory.includes('story')) normalizedCategory = 'User story';\n\nconst rawAssigned = $json.output.assignedTo || \"\";\nconst assignedNames = rawAssigned\n  .split(\",\")\n  .map(n => n.trim())\n  .filter(n => n.length > 0);\n\nconst assignedEmails = [];\n\nfor (const key in contacts) {\n  const contact = contacts[key];\n  if (assignedNames.includes(contact.name)) {\n    assignedEmails.push(contact.mail);\n  }\n}\n\nreturn {\n  json: {\n    ...$json.output,\n    category: normalizedCategory,\n    assignedTo: assignedEmails\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        208
      ],
      "id": "06a62358-3b22-4b4f-b232-32a0327e7a85",
      "name": "Normalize category names and assignedTo contacts"
    },
    {
      "parameters": {
        "url": "https://join-e397a-default-rtdb.europe-west1.firebasedatabase.app/contacts.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "219ebfba-dee5-418f-9ad1-7e23661cf6ae",
      "name": "HTTP Request - GET Join contacts"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        176,
        192
      ],
      "id": "97e3e90f-7272-4cd2-abff-a2582e1457f8",
      "name": "Merge data from AI agent and GET Node"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://join-e397a-default-rtdb.europe-west1.firebasedatabase.app/usage/daily.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requestsToday\": {{$json.count}},\n  \"date\": \"{{$json.today}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1472,
        336
      ],
      "id": "b8485b62-b562-42bc-ae69-dafcf6bb6e6a",
      "name": "HTTP Request3 - POST count in Firebase"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1248,
        464
      ],
      "id": "802f5e96-5b6d-4ca2-b4eb-9fc6159ffc4f",
      "name": "Merge - transfer data from set daily limit node"
    },
    {
      "parameters": {
        "fromEmail": "join.notification@gmail.com",
        "toEmail": "={{ $json.creator }}",
        "subject": "Ticket received — thank you! 😊",
        "emailFormat": "text",
        "text": "=Hello {{ $json.creatorName }},\n\nThank you for your ticket!\nOur team will review it and keep you updated about any changes.\n\nHave a nice day!\n\nYour\nJOIN Automation Team",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        608,
        400
      ],
      "id": "de38ac64-97d4-4add-b8b3-163fbd1e428a",
      "name": "Send an confirmation E-Mail",
      "webhookId": "6218cb19-ee32-4c4c-9383-64fa18f4c370",
      "credentials": {
        "smtp": {
          "id": "Fc6wSFVHZxPqPt8z",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "join.notification@gmail.com",
        "toEmail": "={{ $('Email Trigger (IMAP)').item.json.from.replace(/.*<|>.*/g, '') }}",
        "subject": "Daily limit reached",
        "emailFormat": "text",
        "text": "=Hello,\n\nYou have reached today's limit of 10 feature requests.\nYou can submit new requests again tomorrow.\n\nBest regards,\nYour Join Automation Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -608,
        576
      ],
      "id": "13b4c86d-25a0-48a8-8ba0-a5f564bc66a1",
      "name": "Send \"limit reached\" Email",
      "webhookId": "c7cbc835-f6a3-4758-bbba-e32b97189fb9",
      "credentials": {
        "smtp": {
          "id": "Fc6wSFVHZxPqPt8z",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://join-e397a-default-rtdb.europe-west1.firebasedatabase.app/tasks.json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $json.category }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "date",
              "value": "={{ $json.deadline }}"
            },
            {
              "name": "creator",
              "value": "={{ $json.creator }}"
            },
            {
              "name": "creatorName",
              "value": "={{ $json.creatorName }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "aiGenerated",
              "value": "={{ $json.aiGenerated }}"
            },
            {
              "name": "assignedTo",
              "value": "={{ $json.assignedTo }}"
            },
            {
              "name": "subtasks",
              "value": "={{ $json.subtasks }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        208
      ],
      "id": "d64a7f22-6c06-4a7d-888f-52e4d5f92327",
      "name": "HTTP Request - POST task to Firebase"
    }
  ],
  "pinData": {},
  "connections": {
    "Set daily e-mails limit": {
      "main": [
        [
          {
            "node": "HTTP Request3 - POST count in Firebase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge - transfer data from set daily limit node",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields - Extract email data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge data from AI agent and GET Node",
            "type": "main",
            "index": 1
          },
          {
            "node": "HTTP Request - GET Join contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Set daily e-mails limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields - Extract email data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send \"limit reached\" Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize category names and assignedTo contacts": {
      "main": [
        [
          {
            "node": "HTTP Request - POST task to Firebase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an confirmation E-Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - GET Join contacts": {
      "main": [
        [
          {
            "node": "Merge data from AI agent and GET Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge data from AI agent and GET Node": {
      "main": [
        [
          {
            "node": "Normalize category names and assignedTo contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3 - POST count in Firebase": {
      "main": [
        [
          {
            "node": "Merge - transfer data from set daily limit node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - transfer data from set daily limit node": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3a6df9f1-e648-473c-9193-eaca048151e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea61d498cada008875b2e61edca74871766894db19b17428eff6de56f6a1df76"
  },
  "nodeGroups": [],
  "id": "VLMg5AsqIBynxXRH",
  "tags": []
}